/* TODO: add theme toggle style */
.header {
  margin-bottom: 32px;
  padding: 16px 24px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  display: flex;
  align-items: center;
}

.iconBg {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.toggle {
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  /* aspect-ratio: 1/1; */

  /* height: 3rem; */
  /* width: auto; */
  /* margin: 0; */
  /* background-color: transparent; */
  /* border: none; */
}

.switch {
  margin: 0 8px;
}
